<h1>Editing Add Restaurant Id To Plate</h1>

<%= render 'form', add_restaurant_id_to_plate: @add_restaurant_id_to_plate %>

<%= link_to 'Show', @add_restaurant_id_to_plate %> |
<%= link_to 'Back', add_restaurant_id_to_plates_path %>
