<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant:</strong>
  <%= @add_restaurant_id_to_plate.restaurant_id %>
</p>

<%= link_to 'Edit', edit_add_restaurant_id_to_plate_path(@add_restaurant_id_to_plate) %> |
<%= link_to 'Back', add_restaurant_id_to_plates_path %>
