<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @ingredient.descricao %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
