<ul>
  Navegação para avaliação
  <li><%= link_to 'Restaurants', restaurants_path %></li>
  <li><%= link_to 'Plates', plates_path %></li>
  <li><%= link_to 'Ingredients', ingredients_path %></li>
</ul>