<ul class="menu_itens">
  <li class="menu_item"><%= link_to 'Home', homepage_restaurants_path %></li>
  <li class="menu_item"><%= link_to 'Restaurants', restaurants_path %></li>
  <li class="menu_item"><%= link_to 'Plates', plates_path %></li>
  <li class="menu_item"><%= link_to 'Ingredients', ingredients_path %></li>
</ul>