<!--% @plates.each do | late | %>
  <h2> Title: <!--%= plate.descricao %></h2>
  <h2> Subject: <!--%= post.subject %></h2>
  <h2> Text: <!--%= post.text %></h2>
  <strong><!--%= post.author.name %></strong>
  <small><!--%= post.created_at %> </small>
  <hr/>
<!--% end %>